<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<form action="{{ url_for('calculate') }}" method="post">
  Principal: <input type="text" name="principal"><br>
  APR: <input type="text" name="apr">%<br>
  Term (years): <input type="text" name="term"><br>
  Payment Frequency:
  <select name="pay_freq">
    <option value="monthly">Monthly</option>
    <option value="semi-monthly">Semi-Monthly</option>
    <option value="weekly">Weekly</option>
    <option value="daily">Daily</option>
  </select><br>
  Interest Calculation:
  <select name="int_freq">
    <option value="monthly">Monthly</option>
    <option value="semi-monthly">Semi-Monthly</option>
    <option value="weekly">Weekly</option>
    <option value="daily">Daily</option>
  </select><br>
  Starting Payment Date: <input type="text" id="datepicker" name="start_date"><br>
  <input type="submit">
</form>