<!doctype html>
<h2>
Loan start date: {{ loan_start }}<br>
Payment start date: {{ pay_start }}
</h2>
<table>

{% for i in installments %}
  {% if loop.index0 % 5 == 0 %}
  <tr>
  {% endif %}
    <td>
    <strong>Payment {{ i['number'] }}:</strong>
    <ul>
      <li>Pay Date: {{ i['pay_date'] }}</li>
      <li>Total Due: ${{ i['total'] }}</li>
      <li>Paid Toward Principal: ${{ i['principal_paid'] }}</li>
      <li>Paid Toward Interest: ${{ i['interest_paid'] }}</li>
      <li>Principal Remaining: ${{ i['remaining'] }}</li>
      <li>Outstanding Interest: ${{ i['unpaid_interest'] }}</li>

    </ul>
  </td>
{% endfor %}